#col{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

#notilt{
    rotate:0deg;
}


#c{
    display:flex;
    flex-direction: column;
    align-items: center;
}