.pag{
    background-image: linear-gradient(to bottom right, red,rgb(94, 0, 0));
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@keyframes bruh{
    0% {scale: 10;}
    100% {scale: 1;}
}

.im{
    rotate: -15deg;
    height: 25vh;
    width: 45vh;
    animation-name: bruh;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
}

.im:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.con{
    display: flex;
    margin: 10px;
    justify-content: center;
}

#but{
    display: flex;
    justify-content: right;
    width: 100vh;
}

#but a{
    text-decoration: none;
    color: black;
    height: fit-content;
}

a{
    color:rgb(89, 67, 255);
}