@keyframes blind{
    0% {transform: translateY(-300px);
    opacity: 0%;}
    100% {transform: translateY(0px);
    opacity: 100%;}
}

.ansec{
    opacity: 0%;
    animation-delay: 600ms;
    animation-duration: 600ms;
    animation-name: blind;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.sec{
    padding: 10px;
    margin: 15px;
    background-image: linear-gradient(rgb(255, 163, 77), rgb(210, 67, 0));
    box-shadow: 0px 10px 30px;
    width: fit-content;
    max-width: 1300px;
    height: fit-content;
    justify-self: right;
    border-radius: 10px;
}

.im{
    width: 300px;
    height: 300px;
    margin-right: 10px;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    float: left;
}

h1{
    font-size: 45px;
}

p{
    text-align: justify;
    margin: 10px;
}