*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'fabo';
}

@font-face{
    font-family: 'fabo';
    src: url("C:\Users\fabfe\OneDrive\Documents\vite\fabosmoquifo\src\assets\ComicNeueSansID.ttf");
}

body{
  background-color: rgb(72, 0, 0);
}